.navbar-brand{
    font-family: 'Righteous', cursive;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #28533f;
    color: #fff;
}

h2{
    color: #fff;
}
